
/* BEGIN EXTERNAL SOURCE */

        .auto-style1 {
            text-align: center;
        }
        .auto-style2 {
            font-size: medium;
        }
        .auto-style3 {
            width: 100%;
        }
        .auto-style4 {
            width: 138px;
        }
    
/* END EXTERNAL SOURCE */

/* BEGIN EXTERNAL SOURCE */
table {
width: 100%; border-collapse: collapse;
}
/* END EXTERNAL SOURCE */

/* BEGIN EXTERNAL SOURCE */
td {
width: 20%; text-align: center;
}
/* END EXTERNAL SOURCE */

/* BEGIN EXTERNAL SOURCE */
td {
width: 20%; text-align: center;
}
/* END EXTERNAL SOURCE */

/* BEGIN EXTERNAL SOURCE */
td {
width: 20%; text-align: center;
}
/* END EXTERNAL SOURCE */

/* BEGIN EXTERNAL SOURCE */
td {
width: 20%; text-align: center;
}
/* END EXTERNAL SOURCE */

/* BEGIN EXTERNAL SOURCE */
td {
width: 20%; text-align: center;
}
/* END EXTERNAL SOURCE */
